<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="AWSAccessKey" value="AKIAI6XQF6GV76DQP4BQ" />
  <add key="AWSSecretKey" value="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" />
  <add key="AWSBucketname" value="fishlog-bucket1" />
  <add key="ForecastIO_API_Key" value="8601152f66306898c8a61208dab4c60b" />
</appSettings>