<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=SQL5020.site4now.net;Initial Catalog=DB_A38EB7_thomasgmiranda;User Id=DB_A38EB7_thomasgmiranda_admin;Password=Marshall1;" providerName="System.Data.SqlClient" />
  <add name="DB_9D5A83_TomsFishLogConnectionString" connectionString="Data Source=SQL5003.Smarterasp.net;Initial Catalog=DB_9D5A83_TomsFishLog;User ID=DB_9D5A83_TomsFishLog_admin" providerName="System.Data.SqlClient" />
  <add name="DB_A38EB7_thomasgmirandaConnectionString" connectionString="Data Source=sql5020.site4now.net;Initial Catalog=DB_A38EB7_thomasgmiranda;Persist Security Info=True;User ID=DB_A38EB7_thomasgmiranda_admin;Password=Marshall1" providerName="System.Data.SqlClient" />
</connectionStrings>
 